<!DOCTYPE html>
<html>
<head>
<title>Game</title>
<link href = "/score.css", rel = "stylesheet", type = "text/css"/>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>
  <div class = "box">
    <h2> Player 1 has chosen '<%= @player1 %>'</h2>
    <h2> Player 2 has chosen '<%= @player2 %>'</h2>
    <h1> <%= @result %> </h1>
  </div>
</body>
</html>